name: Build/Lint

on:
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache turbo build setup
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: oven-sh/setup-bun@v2

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run ast-grep
        uses: ast-grep/action@v1

      - name: Run Biome
        run: biome ci

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test

      - name: Lint
        run: bun run lint:ci
